* {
  font-family: Helvetica;
  text-align: center;
}

.hero {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  <!-- background-image: url(src="./resources/images/the-flatiron-building.png"); -->
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.hero h3 {
  color: white;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}

ul {
  list-style-type: none;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
